.subtitle {
    color: #555;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 28px;
    line-height: 30px;
    font-weight: 700;
    font-style: normal;
    float:left
}

.separator--icon-no {
    border-top-width: 3px;
    border-top-color: #e2e2e2;
}

.statement1{
  line-height: 25px;
  text-align : center;
}

#hero1 {
  position: relative;
  text-align: center;
  color: white;
  height: 30vh;
  min-height: 400px;
}
#hero1:before {
  z-index: -2;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
}
#hero1:after {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
}
#hero1 .intro-text {
  padding-top: 200px;

  padding-bottom: 225px;
}

#hero1 .intro-text .intro-lead-in {
  color: #f1d100;
  font-size: 26px;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 22px;
}
#hero1 .intro-text .intro-heading {
  color: #fff;
  max-width: 900px;
  text-align: center;
  letter-spacing: 1.2px;
  font-weight: 800;
  font-size: 40px;
  line-height: 58px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

#hero1 .intro-text a {
  border-radius: 30px;
  padding: 16px 48px;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  #hero1 .intro-text .intro-heading {
    letter-spacing: 1.1px;
    font-weight: 800;
    font-size: 26px;
    line-height: 40px;
    margin-bottom: 40px;
  }
  #hero1 .intro-text a {
    border-radius: 30px;
    padding: 9px 26px;
    text-transform: uppercase;
  }
}

section#contact {
    background: #f3c805;
    position: relative;
    padding: 50px 0;
    border-bottom: 1px solid #2d363f;
}
.panel {
    border: 0px!important;
}

.panel-default {
    border-color: #fafafa !important;
}

#services {
  color: #6f6f6f;
  text-align: center;
  background-color: #fafafa;
}

#services .panel-body {
  border-color: #fafafa !important;
}

#values {
  color: #fff;
  text-align: center;
  background-color: #fff;
  padding: 0;
}

.item {
  position: relative;
}

/*
.item .carousel-caption {
  position: absolute;
  top: 120px;
}
*/
.item .carousel-caption .related {
  text-transform: uppercase;
}

#values h2 {
  font-size: 10rem;
  text-transform: uppercase;
  text-shadow: 0 0 8px #000;
  text-align: center;
}

#values .info {
  color: #6f6f6f;
}

#values .info .info-text {
  color: #fec901;
  font-weight: bold;
}

#values .info h2 {
  color: #6f6f6f;
  font-size: 2.8rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: none;
}

.carousel-indicators li {
  background-color: #fff;
  border: solid 1px #fff;
}

.carousel-indicators .active {
  background-color: #fec901;
  border: solid 1px #fec901;
}


#mer-left {
  background-image: url(../img/about/top-right.svg);
  background-size: cover;
  width: 40%;
  height: 550px;
  position: absolute;
  left: 0;
  transform: rotateY(180deg);
  z-index: 99;
}

#mer-right {
  background-image: url(../img/about/top-right.svg);
  background-size: cover;
  width: 40%;
  height: 550px;
  position: absolute;
  right: 0;
  z-index: 99;
}

@media (max-width: 768px) {
  #mer-right,
  #mer-left {
    display: none;
  }
}

.subtitles_tatement1 {
  text-align: center;
  font-weight: bold;
}

#services:before {
  background-color: #fff;
}

.navbar-default .nav li a,
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus,
.navbar-default .nav li a:active {
  color: #b3b3b3;
}

@media (max-width: 768px) {
  #values h2 {
    width: auto;
    font-size: 3rem;
  }
}

#hero1 {
  background-image: url('../img/about/cover-about-us.png');
  background-size: cover;
  background-position: 50% 50%;
}