@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?6y3tr5');
  src:  url('../fonts/icomoon.eot?6y3tr5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?6y3tr5') format('truetype'),
    url('../fonts/icomoon.woff?6y3tr5') format('woff'),
    url('../fonts/icomoon.svg?6y3tr5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-world:before {
  content: "\e900";
}
.icon-library:before {
  content: "\e921";
}
