@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fgmriq');
  src:  url('fonts/icomoon.eot?fgmriq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fgmriq') format('truetype'),
    url('fonts/icomoon.woff?fgmriq') format('woff'),
    url('fonts/icomoon.svg?fgmriq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wallet:before {
  content: "\e016";
}
.icon-gears:before {
  content: "\e02b";
}
.icon-shield:before {
  content: "\e900";
}
.icon-secure:before {
  content: "\e900";
}
.icon-lock:before {
  content: "\e901";
}
.icon-security:before {
  content: "\e901";
}
.icon-secure2:before {
  content: "\e901";
}
.icon-privacy:before {
  content: "\e901";
}
.icon-encryption:before {
  content: "\e901";
}
.icon-phone:before {
  content: "\e902";
}
.icon-mobile:before {
  content: "\e902";
}
.icon-contact:before {
  content: "\e902";
}
.icon-telephone:before {
  content: "\e902";
}
.icon-refresh:before {
  content: "\e903";
}
.icon-sync:before {
  content: "\e903";
}
.icon-reload:before {
  content: "\e903";
}
.icon-loading:before {
  content: "\e903";
}

