<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<link rel="stylesheet" type="text/css" href="archivo.css">
	</head>
	<body>
		<div id="header">
			<img src="public/assets/mpdf/logo-ligth.png" class="logo" alt="">
		</div>
		<h1>ACCOUNT <span class="spanH1">STATEMENT</span></h1>
		<div id="info">
			
		</div>
		<div id="dataCustomer">
			<h2>CUSTOMER INFO</h2>
			<ul>
				<li><b>User:</b> {{USER}}</li>
				<li><b>Email:</b> {{EMAIL}}</li>
				<li><b>Address:</b> {{ADDRESS}}</li>
				<li><b>Balance:</b> {{BALANCE}}</li>
			</ul>
		</div>
		<div id="dataStatement">
			<h2>STATEMENT INFO</h2>
			<ul>
				<li><b>Report Dates:</b> {{DATE}}</li>
				<li><b>Account Currency:</b> {{CURRENCY}}</li>
				<li><b>Account ID:</b> {{ID}}</li>
			</ul>
		</div>
		<h2 id="title">ACCOUNT HISTORY</h2>
		<div id="table">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			{{TABLE}}
		</div>
		<div style="height: 285px"></div>
		<div id="footer">
			<div id="logo-foot">
				<img src="public/assets/mpdf/logo-dark.png" id="logo-foot" alt="">
			</div>
			<p id="p-footer">Found will available for use inmediately upon of the Exchange transaction. For customer service inquiries, please contact us at <a href="#">support@mercury.cash</a> if you believe any of these transaction are in error. <a href="https://www.mercury.cash/">Mercury Cash</a> is licensed under the name of <i>Adventuorious Entertainmet, LLC</i> to engage in money transmission activities under Florida Jurisdiction</p>
			<p id="p-footer">It is the policity of Adventuorious Entertainment, LLC not to refound its fees for completed transactions unless otherwise required by law</p>
			<p id="p-footer"><i>Adventuorious Entertainment, LLC.</i>, 6427 Milner Blvd, Suit 4, Orlando. FL 32809, 31000105917678</p>
		</div>
		<div id="legend">
			<span id="label-legend">LEGEND</span>
			<p id="p-legend"><b>USD Deposit:</b> A transfer into your Mercury Cash USD Wallet from another Mercury Cash Address or from the payment methods we offer (bank wire, debit/credit card, etc).</p>
			<p id="p-legend"><b>Cryptocurrency Deposit:</b> A transfer into your Mercury Cash Crytocurrency Wallet (Ethereum at the moment) from other Mercury Cash Address or from another Wallet.</p>
			<p id="p-legend"><b>Transfer:</b> An operation related to cryptocurrency. Might be from your Mercury Cash Ethereum Address to another Mercury Cash Address, to another Wallets or to the Ethereum Platform.</p>
			<p id="p-legend"><b>Withdrawal:</b> When you make a transfer and receive the payment in your Mercury Cash USD Address.</p>
			<p id="p-legend"><b>Transaction:</b> Any procedure made by the customer, such a transfer, withdrawal or deposit.</p>
			<p id="p-legend"><b>Fee:</b> The commission Mercury Cash charged for a transaction.</p>
		</div>
	</body>
</html>