body {
	margin: 0;
	padding: 0;
	font-family: 'Arial';
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	color: #9A999E;
	list-style: none;
}

ul li b {
	color: #292B2C;
}

.container {
	width: 1280px;
	margin: auto;
}

.item {
	width: 50%;
	float: left;
}

.clear {
	clear: both;
}

#header {
	background-color: #2e2931;
	width: 100%;
	height: 100px;
	padding: 10px 50px 10px 50px;
	position: absolute;
	left: 0;
	top: 0;
}

.logo {
	width: 250px;
	margin-top: 10px;
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 9999;
}

h1 {
	color: #ccc;
	font-weight: 400;
	position: absolute;
	top: 40px;
	right: 50px;
	z-index: 9999;
}

h2 {
	color: #e5b733;
}

.spanH1 {
	color: #e5b733;
	font-weight: bold;
}

#info {
	background-color: #f0f0f1;
	width: 100%;
	height: 230px;
	position: absolute;
	left: 0;
	top: 120px;
}

#dataCustomer {
	position: absolute;
	left: 50px;
	top: 120px;
}

#dataStatement {
	position: absolute;
	top: 120px;
	right: 50px;
}

#title {
	color: #fff;
	font-size: 56px;
	text-align: center;
	background-color: #e5b733;
	width: 80%;
	margin: auto;
	position: absolute;
	top: 275px;
	left: 0;
	right: 0;
}

#table {
	color: #9A999E;
	font-size: 14px;
	margin-top: 500px;
	position: relative;
	top: 350px;
	z-index: 999;
}

table {
	color: #9A999E;
	font-size: 14px;
	width: 100%;
}

th, td {
	text-align: center;
}

#footer {
	width: 100%;
	height: 280px;
	background-color: #f0f0f1;
	position: absolute;
	left: 0;
	bottom: 0;
}

#p-footer {
	color: #8f8f94;
	font-size: 9px;
	margin-left: 50px;
	margin-right: 50px;
}

#p-footer a {
	color: #f1cb00;
}

#legend {
	font-size: 6px;
	width: 90%;
	height: 150px;
	margin: auto;
	padding-left: 5px;
	background-color: #646667;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
}

#p-legend {
	color: #fff;
	font-size: 9px;
	margin-right: 50px;
}

#label-legend {
	font-size: 14px;
	color: #fff;
	padding: 5px;
	background-color: #f1cb00;
	position: absolute;
	top: -6px;
}

#logo-foot {
	width: 150px;
	margin: auto;
	display: block;
	position: absolute;
	left: 0;
	padding: 0;
}