.buy-panel {
	padding-bottom: 50px;
}

.data-pay {
	padding: 0 15px 0 15px;
}

.input-success {
  border: solid 1px #6dc757;
  box-shadow: 0 0 6px #6dc757;
}

.input-danger {
  border: solid 1px #c75757;
  box-shadow: 0 0 6px #c75757;
}

#avatar {
	width: 30%;
	position: absolute;
	border-radius: 50%;
	border: solid 2px #ccc;
	left: -35px;
	top: -5px;
}

.divider {
	padding: 10px 15px;
    margin: 10px 15px;
    position: relative;
}

.td-accounts {
	padding: 30px 8px !important;
}

.sidebar-wrapper {
	background-color: #302e2f;
}

.sub-menu li:hover::after {
	content: '';
	width: 100%;
	border-bottom: solid 3px #c5a901;
	position: absolute;
	bottom: 0;
}

.sub-active {
	position: relative;
}

.sub-active::after {
	content: '';
	width: 100%;
	border-bottom: solid 3px #c5a901;
	position: absolute;
	bottom: 0;
}

.stripe-button-el {
	float: right;
	background: #c5a901 !important;
	border: none !important;
	outline: none;
}

.stripe-button-el span {
	font-weight: normal !important;
	background: #c5a901 !important;
	background-image: none !important;
	border: none !important;
}

.block-amounts {
}

.block-amounts h6 {
	color: #c1c1c1;
	font-size: 1rem;
}

.block-amounts h4 {
	margin: 10px 0 0 0 ;
}

.block-amounts ul {
	margin: 0;
	padding: 0;
}

.block-amounts ul li {
	list-style-type: none;
	margin-bottom: 5px;
	background-color: rgba(34, 102, 153, 0);
	background-image: linear-gradient(#e0e0e0 1px, transparent 1px), linear-gradient(90deg, #e0e0e0 0px, transparent 0px), linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px), linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
	background-size: 0 1, 0 0, 0 0, 0 0;
	background-position: 0 9px, 0 0, 0 0, 0 0;
}

.block-amounts ul li .tags-amounts {
	color: #c1c1c1;
	font-weight: 600;
	background-color: #f7f7f9;
    padding-right: 10px;
}

.block-amounts ul li .amounts {
	font-weight: 600;
	float: right;
	background-color: #f7f7f9;
    padding-left: 10px;
}


input[type="radio"] {
	display: none;
}


.payment_method {
	text-align: center;
	width: 100%;
	height: 100px;
	border: solid 2px #c3c3c3;
	cursor: pointer;
	border-radius: 4px;
}

.pay-active {
	border: solid 2px #f3c805;
}

.payment_method h3 {
	font-size: 1.5rem;
	font-weight: 600;
	position: relative;
}

.payment_method .icon-check {
	font-size: 2rem;
	background-color: #f7f7f9;
	padding: 3px;
	position: absolute;
	top: -13px;
	right: 5px;
	display: none;
}

.payment_method .icon-active {
	color: #f3c805;
	display: block;
}

.buttons-buy {
	display: none;
}

.primaryWallet {
	position: relative;
	top: 0;
	animation-duration: 0.5s;
	animation-name: moveAddress;
}

@keyframes moveAddress {
	0% {
		top: 0;
	}

	50% {
		top: 10px;
	}

	100% {
		top: 0;
	}

}

.blocksDashboard {
	height: 380px;
}

#cantRequest {
	text-align: center;
    background-color: #c5a901;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 8px;
    right: 57px;
}

.unread {
	background-color: rgba(197, 169, 1, 0);
	animation-duration: 10s;
	animation-name: read;
}

@keyframes read {
	from {
		background-color: rgba(197, 169, 1, 0.24);
	}

	to {
		background-color: rgba(197, 169, 1, 0);
	}

}

/*icons-mercury DASHBOARD*/
.icons-mercury {
	width: 53px;
	margin: 0;
}

#app {
	background-image: url('../../img/phones-app.png');
	background-position: 50% 30%;
	background-size: cover;
	background-repeat: no-repeat;
}

#app .firts {
	margin-top: 120px;
}

#app .last {
	margin-bottom: 150px;
}

.max_buy {
	color: #fff;
    background-color: rgba(197, 169, 2, 0.75);
    border: none;
    border-radius: 3px;
    padding: 4px 7px 1px 6px;
    outline: none;
    position: absolute;
    right: 25px;
    top: 32px;
    display: none;
}

/* CARGANDO */
.loading {
	color: :#fff;
	font-size: 20rem;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	z-index: 98;
	display: none;
}

.sk-cube-grid {
	width: 40px;
	height: 40px;
	margin: 100px auto;
	position: absolute;
	left: 0;
	top: 30%;
	right: 0;
}

.sk-cube-grid .sk-cube {
	width: 33%;
	height: 33%;
	background-color: #1d1c1c;
	float: left;
	-webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
		animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  }
   35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }

}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  }
   35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }

}

.nameAlias {
	padding: 5px;
}

/*
.nameAlias:hover {
	cursor: pointer;
}

*/
/* FRONTEND */
/* BLOQUES */
.block {
	background-color: #f7f7f9;
	height: auto;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.50);
}

.block .block-header {
	color: #fff;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	line-height: 50px;
	background-color: #2c2a2b;
	height: 50px;
	position: relative;
}

.block .block-header .btn-header {
	color: #9a9899;
    text-transform: uppercase;
    line-height: 20px;
    border: solid 1px;
    padding: 5px 10px 5px 10px;
    position: absolute;
    top: 9px;
    right: 10px;
}

.text-yellow {
	color: #f6c401;
}

.block .block-body {
	padding: 25px 10px;
}

/* BLOQUES */
/* TABLAS */
.table-m {
	background-color: #f7f7f9;
	width: 100%;
}

.table-m thead {
	color: #f6c401;
}

.table-m thead tr,
.table-m tbody tr {
	border-bottom: solid 5px #f7f7f9;
}

.table-m thead tr th {
	text-align: center;
	text-transform: uppercase;
}

.table-m tbody tr {
	position: relative;
}

.table-m tbody tr td {
	content: '';
	text-align: center;
	background-color: #fff;
	padding: 5px;
}

.table-m tbody tr td:first-child {
	border-radius: 25px 0 0 25px;
}

.table-m tbody tr td:last-child {
	border-radius: 0 25px 25px 0;
}

/* TABLAS */
/* FORMS */
.form-elements {
	position: relative;	
}

.form-elements label,
.form-elements input,
.form-elements textarea,
.form-elements select {
	width: 100%;
}

.form-elements label {
	color: #f6c401;
	text-transform: uppercase;
}

.form-elements input,
.form-elements textarea,
.form-elements select {
	border: none;
	border-radius: 5px;
	padding: 8px;
	margin-bottom: 20px;
	outline: none;
	resize: none;
}

span.input-addon {
	color: #fff;
	text-align: center;
	background-color: #f1cb00;
	padding: 2px 5px;
	width: 40px;
	border-radius: 5px 0 0 5px;
	position: absolute;
	top: 7px;
	left: 4px;
}

input.input-addon {
	padding-left: 50px;
}

/* FORMS */
/* TABS */
.tabs-m {
}

.tabs-m ul {
	text-transform: uppercase;
	list-style: none;
	margin: 0;
	padding: 0;
}

@media screen and (min-width: 768px) {
	.tabs-m ul {
		display: flex;
	}
}

.tabs-m ul li {
	color: #ccc;
	text-align: center;
	background-color: #fff;
	padding: 10px;
	flex: auto;
}

.tabs-m ul .active {
	color: #f6c401;
	background-color: #2c2a2b;
}

.tabs-m ul li:hover {
	color: #f6c401;
	background-color: #2c2a2b;
}

.tabs-m ul li a {
	color: #ccc;
	font-weight: bold;
	display: block;
}

.tabs-m ul li a:hover {
	color: #f6c401;
}

.tabs-m ul .active a {
	color: #f6c401;
}

/* TABS */
/* BOTONES */
.btn-mercury-yellow {
	color: #fff;
	text-align: center;
	background-color: #f1cb00;
	border: none;
	padding: 10px 20px;
	width: 100%;
	display: block;
	outline: none;
}

.btn-mercury-black {
	color: #fff;
	text-align: center;
	background-color: #2a2a2c;
	border: none;
	padding: 10px 20px;
	width: 100%;
	display: block;
	outline: none;
}

.btn-m-l {
	color: #fff;
	background-color: #f1cb00;
	border: none;
	padding: 10px 20px;
	width: 100%;
	outline: none;
}

/* BOTONES */
/* ALERTS */
.alert-m {
	color: #fff;
	text-align: center;
	font-weight: bold;
	background-color: #ccc;
	width: 100%;
	padding: 10px 1px;
}

.alert-m-danger {
	background-color: rgba(246, 1, 1, 0.72);
}

.alertGrey {
	text-align: center;
	background-color: #ccc;
	padding: 10px 5px;
	margin-bottom: 20px;
	border-radius: 25px;
}

/* ALERTS */
#values_now {
	color: #fff;
	font-weight: bold;
	background-color: #2c2a2b;
	padding: 10px;
	margin-top: 10px;
}

#image-profile {
	width: 70%;
	position: relative;
}

#image-profile img {
	width: 100%;
}

#change-password {
	padding: 50px 50px;
}

.confirm {
	text-align: center;
	background-color: #fff;
	padding: 10px;
}

/* UPLOAD DOCUMENT */
#fileContentManual {
    height: 30px;
    margin-bottom: 15px;
    position: relative;
}

#buttonUploadDocument {
	background-color: #fff;
	padding: 5px;
    border-radius: 5px;
    float: left;
}

#fileContentManual #namefileManual {
	line-height: 30px;
    margin-left: 5px;
}

#manual_document {
	opacity: 0;
	width: 100%;
	height: 30px;
	position: absolute;
	top: 0;
}

#fileContent {
	text-align: center;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 150px;
	border: dashed 1px #f6c401;
}

#fileContent p {
	display: block;
	margin: auto;
	position: absolute;
	left: 0;
	top: 45%;
	right: 0;
}

input#document {
	display: inline-block;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 0;
}

#contentbar {
	width: 100%;
	height: 20px;
	background-color: #fff;
}

#div-alert {
	margin-top: 20px;
}

#contentbar #statusbar {
	width: 0%;
	height: 100%;
	background-color: #f6c401;
}

#name_file {
	margin-top: 20px;
	background-color: #fff;
	border-radius: 5px;
	padding: 5px;
	position: relative;
}

#success_file {
	color: #fff;
	background-color: #f6c401;
	padding: 1px 6px;
	border-radius: 5px;
	position: absolute;
	top: 5px;
	right: 5px;
}

#preview {
	height: 342px;
	position: relative;
}

/* UPLOAD DOCUMENT */
#policy {
	font-size: 12px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#logo-register {
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 20px;
}

#logo-register img {
	margin: auto;
}

a.btn-m-l {
	color: #fff;
	float: right;
}

#policy-check {
	opacity: 0;
}

#check-view {
	background-color: #fff;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	float: left;
	position: relative;
	border: solid 1px;
	top: 3px;
	left: 9px;
}

#checked-view {
	content: '';
	background-color: transparent;
	/*background-color: #9a9ab4;*/
	width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    left: 0px;
    top: 2px;
    right: 0;
}

#content_input_avatar {
	color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-color: #f6c401;
    width: 55px;
    height: 17px;
    position: absolute;
    top: 0;
    right: 0;
}

#content_input_avatar span {
}

#content_input_avatar input {
	opacity: 0;
    width: 100%;
    height: 17px;
    position: absolute;
    top: 0;
    cursor: pointer;
}

#alert-document {
	background-color: #ccc;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 15px;
}

#preview {
	
}

.changePrimary {
	position: absolute;
	left: -15px;
}

.getPrimary {
	position: absolute;
	left: -15px;
}

.viewTransactions {
	position: absolute;
	left: -50px;
}

#document_type {
	border: none;
	border-radius: 5px;
	padding: 8px;
	margin-bottom: 20px;
	outline: none;
	resize: none;
}

/* MODALS */
.modal-header {
	color: #fff;
	text-align: center;
	line-height: 50px;
    background-color: #2c2a2b;
    height: 50px;
}

.modal-header .close,
.modal-header span {
	color: #f1cb00;
}

.modal-header h4 {
	font-size: 20px;
    font-weight: bold;
}

.modal .closeModal {
	width: 18%;
}

/* MODALS */
.data-transactions {
	margin: 0;
	padding: 0;
}

.data-transactions li {
	list-style-type: none;
	margin-bottom: 10px;
}

.tags-transaction {
	color: #fff;
	background-color: #9b9bb5;
	padding: 5px;
}

.status-success {
	color: green;
	text-transform: uppercase;
}

.status-pending {
	color: #e2d47f;
	text-transform: uppercase;
}

.status-reject {
	color: red;
	text-transform: uppercase;
}

.box-alert {
	text-align: center;
	background-color: #fff;
	padding: 20px 10px;
}

.box-alert h1 {
	color: #f6c401;
}

.bar-center {
	border: solid 1px #e4e4e4;
	width: 1px;
	height: 50%;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
}

.contentButtonsBank {
    color: #2c2a2b;
    font-size: 10rem;
    text-align: center;
    cursor: pointer;
}

.contentButtonsBank:hover {
	box-shadow: -1px 5px 12px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

.contentButtonsBank.active {
	background: #ffcd03;
    box-shadow: -1px 5px 12px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.contentButtonsBank #worldBank {
	font-size: 4rem;
    position: absolute;
    top: 0;
    right: 85px;
}

#requestMoneyUsdwallet {
	position: relative;
}

#requestMoneyUsdwallet:after {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #ccc;
    position: absolute;
    top: 0;
    right: -12%;
    z-index: 10;
}

/* DATEPIKER */

.ui-widget-header {
	color: #fff;
	background: none;
	background-color: #292B2C;
}

.ui-datepicker .ui-datepicker-header {
    background-color: #292B2C;
}

.ui-datepicker .ui-datepicker-title {
	background-color: #292B2C;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    color: #292B2C;
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
	color: #292B2C;
	/* border: 1px solid #d3d3d3; */
    background: #F1D100;
    font-weight: normal;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	color: #F1D100;
	/* border: 1px solid #fcefa1; */
	background: #292B2C;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next,
.ui-datepicker-prev,
.ui-datepicker-next,
.ui-datepicker-prev-hover,
.ui-datepicker-next-hover {
	background: #F1D100;
}


.input-danger {
	background-color: rgba(246, 1, 1, 0.28);
	box-shadow: inset 0 0 1px 1px rgba(255, 0, 0, 0.6);
}