.subtitle {
    color: #555;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 28px;
    line-height: 30px;
    font-weight: 700;
    font-style: normal;
    float:left
}



.separator--icon-no {
    border-top-width: 3px;
    border-top-color: #e2e2e2;
}

.statement1{
  line-height: 35px;
  text-align : justify;
}

#hero1 {
  position: relative;
  text-align: center;
  color: white;
  height: 30vh;
  min-height: 400px;
}
#hero1:before {
  z-index: -2;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url('/public/img/about-header.jpg');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#hero1:after {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(60, 83, 111, 0.7);
}
#hero1 .intro-text {
  padding-top: 200px;

  padding-bottom: 225px;
}

#hero1 .intro-text .intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 26px;
  line-height: 26px;
  margin-bottom: 22px;
}
#hero1 .intro-text .intro-heading {
  max-width: 900px;
  text-align: center;
  letter-spacing: 1.2px;
  font-weight: 800;
  font-size: 40px;
  line-height: 58px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}



#hero1 .intro-text a {
  border-radius: 30px;
  padding: 16px 48px;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  #hero1 .intro-text .intro-heading {
    letter-spacing: 1.1px;
    font-weight: 800;
    font-size: 26px;
    line-height: 40px;
    margin-bottom: 40px;
  }
  #hero1 .intro-text a {
    border-radius: 30px;
    padding: 9px 26px;
    text-transform: uppercase;
  }
}

section#contact {
    background: #f3c805;
    position: relative;
    padding: 50px 0;
    border-bottom: 1px solid #2d363f;
}
.panel {
    border: 0px!important;
}

.panel-default {
    border-color: #fff!important;
}
